<h1 class = "text-center"> New Restaurant</h1>

<div class="container">
  <div class="row">
    <%= render 'form' %>
  </div>
</div>
<br>
<br>
<div>
  <%= link_to "Back", restaurants_path, {class: "btn btn-success center-block"} %>
</div>
